<query-editor-row query-ctrl="ctrl" can-collapse="false">


  <div class="gf-form-inline" ng-hide="ctrl.target.mode == 1">

    <div class="gf-form max-width-20">
      <label class="gf-form-label query-keyword width-7">Application</label>

      <input type="text"
        ng-model="ctrl.target.item.filter"
        bs-typeahead="ctrl.getApplicationNames"
        ng-blur="ctrl.onTargetBlur()"
        data-min-length=0
        data-items=100
        class="gf-form-input"
        >
    </div>

		    <!-- Select Item -->
    <div class="gf-form">
      <label class="gf-form-label query-keyword width-7">Item</label>
      <input type="text"
        ng-model="ctrl.target.item.filter"
        bs-typeahead="ctrl.getItemNames"
        ng-blur="ctrl.onTargetBlur()"
        data-min-length=0
        data-items=100
        class="gf-form-input"
        ng-class="{
          'zbx-variable': ctrl.isVariable(ctrl.target.item.filter),
          'zbx-regex': ctrl.isRegex(ctrl.target.item.filter)
        }">
    </div>


</query-editor-row>