<query-editor-row query-ctrl="ctrl" can-collapse="false">


  <div class="gf-form-inline">

     <div class="gf-form">
        <label class="gf-form-label width-8">Application</label>
        <input type="text"
              class="gf-form-input"
              ng-model="ctrl.target.application"
              spellcheck='false'
              bs-typeahead="ctrl.getApplicationNames"
              match-all="true"
              min-length="1"
              placeholder="Application"
              data-min-length=0 data-items=100
              ng-blur="ctrl.onChangeInternal()">
        </input>
      </div>

      <div class="gf-form  gf-form--grow">
        <label class="gf-form-label width-8">Metric</label>
        <input type="text"
              class="gf-form-input"
              ng-model="ctrl.target.metric"
              spellcheck='false'
              bs-typeahead="ctrl.getMetricNames"
              match-all="true"
              min-length="1"
              placeholder="MetricPath"
              data-min-length=0 data-items=100
              ng-blur="ctrl.onChangeInternal()">
        </input>
      </div>
</div>


</query-editor-row>